body {
	background-color: #000080;
	font-family: Arial, sans-serif;
	text-align: center;
}

h1, h2, h3{
	color: #FFFFFF;	
	text-transform: uppercase;
}

p{
	color: #FFFFFF;
	font-family: "Courier new", sans-serif;
}

a{
	color: #FFFFFF;
	font-style: italic;
}

a:hover {
	color: #FFFF00;
}