@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates|Taviraj);

@keyframes link-underline {
    from {border-bottom: 1px none;}
    to {border-bottom: 1px solid;}
}

body {
	background-image: url("unit-3-background-image.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: "Taviraj", sans-serif;
	font-size:16px;
	margin: 1.5em;
	color: #FFFFFF
}

h1, h3{
	text-transform: uppercase;
	font-family: "Montserrat";
}

h1 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.8em;
}

p, ul{
	font-size: 1em;
}

a:link{
	color: #FFFFFF;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:visited{
	color: #FF00FF;
	text-decoration: none;
}

a:hover {
	color: #FFFF00;
	text-decoration: none;
	animation-name: link-underline;
    animation-duration: .5s;
    transition: ease-in-out
}

form{
	background-color: #00b383;
	max-width: 30em;
}

#slogan{
	font-style: italic;
	font-size: 1.3em;
}

.main-wrapper {
	background: rgb(91, 155, 213);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(61,125,183) solid;
}

.header {
	background: rgb(237, 125, 49);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(207, 95, 19) solid;
}

.primary-nav {
	background: rgb(218, 227, 243);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(188, 197, 213) solid;
}

.important-information {
	background: rgb(165, 165, 165);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(135, 135, 135) solid;
}

.hp-on-page-nav {
	background: rgb(255, 192, 0);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(225,162,0) solid;
}

.block-nav{
	background: rgb(112, 48, 160);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(82, 18, 130) solid;
}

.hp-content {
	background: rgb(112, 48, 160);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(82, 18, 130) solid;
}

.footer {
	background: rgb(112, 173, 71);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(82, 143, 41) solid;
}

.contact-links {
	background: rgb(91, 155, 213);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(61,125,183) solid;
}

.footer-links {
	background: rgb(237, 125, 49);
	margin: 1em;
	padding: 1em;
	border: .25em rgb(207, 95, 19) solid;
}