@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates|Taviraj);

body {
	background-image: url("unit-3-background-image.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: "Taviraj", sans-serif;
}

h1, h3{
	color: #FFFFFF;	
	text-transform: uppercase;
	font-family: "Montserrat";
}

p, ul{
	color: #FFFFFF;
}

a{
	color: #FFFFFF;
	font-style: italic;
}

a:hover {
	color: #FFFF00;
}

form{
	background-color: #00FF00
}

#slogan{
	font-style: italic;
	font-size: 24px;
}